// Buttons

$btn-default-color: $gray !default;
$btn-default-bg: $gray-light !default;
$btn-default-border: $gray !default;

$btn-primary-color: $brand-primary !default;
$btn-primary-bg: $white !default;
$btn-primary-border: $brand-primary !default;

$btn-secondary-color: $brand-info !default;
$btn-secondary-bg: $white !default;
$btn-secondary-border: $brand-info !default;

// Button settings

$btn-padding-vertical: 6px;
$btn-padding-horizontal: 20px;
