// Color

// Gray and brand

$black: #000;
$white: #fefefe;

$gray-dark: #505050 !default;
$gray: #747474 !default;
$gray-light: #f0f0f1 !default;
$gray-lighter: #fafafa !default;

$brand-primary: #0066ac !default;
$brand-secondary: #efb920 !default;
$brand-success: #6b9e29 !default;
$brand-info: #603913 !default;
$brand-warning: #efb920 !default;
$brand-danger: #e54940 !default;

// Typography

$text-color: $gray !default;
$text-color-darker: $gray-dark !default;
$header-text-color: $gray-dark !default;
$header-text-color-info: $brand-info !default;
$link-color: $brand-primary !default;
$link-hover-color: $brand-info !default;

// Background

$body-bg: $white !default;

// Borders

$border-color: $gray-dark;

// Dropdowns

$dropdown-text-color: $gray;
$dropdowa-border-color: $gray-light;
